@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Basic App Reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #002134;
  color: #e1e2e1;
}

* {
  box-sizing: border-box;
}
